td {
  text-align: center;
  margin: 0px;
  border: 0px;
  padding: 5px;
  height: 30px;
  cursor: pointer;
}
td:first-child, th:first-child {
  border-radius: 5px 0px 0px 5px;
}
td:last-child, th:last-child {
  border-radius: 0px 5px 5px 0px;
}
td:nth-child(2) {
  text-align: left;
  padding-left: 20px;
}
td:nth-child(3) {
  text-align: right;
}
tr {
  position: relative;
  overflow: auto;
}
td:nth-child(1) {
  position: sticky;
  left: 0px;
  z-index: 10;
}
td:nth-child(2) {
  position: sticky;
  left: 30px;
  z-index: 10;
}
th:nth-child(1) {
  position: sticky;
  left: 0px;
  z-index: 10;
}
th:nth-child(2) {
  position: sticky;
  left: 30px;
  z-index: 20;
}
th {
  text-align: center;
  margin: 0px;
  border: 0px;
  padding: 5px 8px;
  hyphens: auto;
  flex-direction: column;
  cursor: pointer;
  font-weight: normal;
}
th.treaty-header {
  width: 120px;
  min-width: 50px;
  vertical-align: top;
}
th.data-header {
  vertical-align: bottom;
}
td, th {
  cursor: pointer;
}
td:first-child,th:first-child {
  width: 5px;
  font-size: 24px;
}
th.sort-arrows {
  text-align: center;
}
td:nth-child(2),th:nth-child(2) {
  width: 10%;
}
td:nth-child(3),th:nth-child(3) {
  width: 10px;
  text-align: center;
}
td:nth-child(4) {
  width: 10%;
  padding-right: 20px;
  text-align: right;
}
th:nth-child(2) {
  text-align: left;
  padding-left: 20px;
}
.country-name {
  flex-grow
}
tr:nth-child(2n) td,th {
  background-color: white;
}
tr:nth-child(2n+1) td {
  background-color: #eee;
}
thead {
  position: sticky;
  z-index: 30;
  top: 0;
  background-color: #fff
}
img.treaty-logo {
  height: 48px;
}
