td {
  font-size: 22px;
  padding: 10px;
}
td.date {
  width: 130px;
  text-align: center;
}
td.treaty {
  text-align: center;
}
img.treaty-logo {
  height: 24px;
}
td.flag {
  text-align: center;
  font-size: 40px;
}
td.type {
  text-align: center;
}
td.type img {
  height: 24px;
}
table#timeline-table {
  max-width: 1000px;
}
.table-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap:wrap;
}
h1 {
  text-align: left;
  padding-top: 20px;
}